## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hobyo,SO,80.76,overcast clouds,5.3505,48.5268,Halane Hotel and Restaurent
1,22,Hithadhoo,MV,81.27,scattered clouds,-0.6000,73.0833,Scoop Guest House
2,27,Trat,TH,89.26,broken clouds,12.5000,102.5000,สวนหนิง-อัศ
3,32,Cairns,AU,88.07,clear sky,-16.9167,145.7667,Mantra Trilogy Cairns
4,33,Isangel,VU,81.25,overcast clouds,-19.5500,169.2667,Tanna Lodge
5,45,Pathein,MM,87.71,scattered clouds,16.7833,94.7333,New Pammawaddy Hotel
6,48,Rikitea,PF,79.27,light rain,-23.1203,-134.9692,People ThankYou
7,52,Butaritari,KI,82.74,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
8,53,Souillac,MU,84.36,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
9,54,Pontianak,ID,87.78,broken clouds,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center

In [10]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Forbes"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Forbes"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Alice Springs"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Byron Bay"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Broken Hill"]

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]
print(f'stop 1: {stop1}, stop 2: {stop2}, stop 3: {stop3}')

start: (-33.3833, 148.0167), End: (-33.3833, 148.0167)
stop 1: (-23.7, 133.8833), stop 2: (-28.65, 153.6167), stop 3: (-31.95, 141.4333)

In [36]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
city_itinerary=gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode = "DRIVING")
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,301,Forbes,AU,84.92,clear sky,-33.3833,148.0167,Lake Forbes Motel
1,301,Forbes,AU,84.92,clear sky,-33.3833,148.0167,Lake Forbes Motel
2,111,Alice Springs,AU,89.15,clear sky,-23.7000,133.8833,Desert Palms Alice Springs
3,426,Byron Bay,AU,79.05,scattered clouds,-28.6500,153.6167,Backpackers Inn
4,362,Broken Hill,AU,87.51,clear sky,-31.9500,141.4333,Royal Exchange Hotel

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=5.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))